
.controls {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: 20px;
  z-index: 10;
  position: absolute;
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  top: 0;
  left: 100;
  width: 10dvw;
}

.number {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  top: 250px;
  left: 0px;
  width: 10dvw;
}

.number h3 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 12px;
}

.vector {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: 10px;
  z-index: 10;
  position: absolute;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  top: 0px;
  left: 13dvw;
  width: 15dvw;
}

.json {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: 10px;
  z-index: 10;
  position: absolute;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  top: 0px;
  left: 26dvw;
  width: 15dvw;
}

.controls h2 {
  font-weight: 600;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 12px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .controls {
        width: 20dvw;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .controls {
        width: 50dvw;
    }
    .number {
        top: 220px;
    }
    .vector {
        top: 300px;
        left: 0px;
    }
}
